body {
	display: grid;
	place-items: center;
	height: 100vh;
	border-radius: 20px;
	background-color: #bbcbe4;
}

.app {
	overflow: hidden;
	display: flex;
	align-items: center;
	max-width: 1200px;
	height: 600px;
	border-radius: 30px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background: #bbcbe4;
	-webkit-box-shadow: 5px 5px 6px #a8b7cd, -5px -5px 6px #cedffb;
	box-shadow: 5px 5px 6px #a8b7cd, -5px -5px 6px #cedffb;
}
